<div id="register">
  <mat-card>
    <form action="" (submit)="onsubmit()">
      <mat-form-field class="error full-width">
        <input id="i1" type="text" name="login" matInput placeholder="Username" class="error" [errorStateMatcher]="matcher" [formControl]="login">
        <mat-error *ngIf="loginError"> Better check i twice</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="email" name="email" matInput placeholder="Email" [errorStateMatcher]="matcher" [formControl]="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" name="password" matInput placeholder="Password" [errorStateMatcher]="matcher" [formControl]="password">
      </mat-form-field>
      <button type="submit" mat-raised-button class="full-width" color="primary" [disabled]="!login.valid || !password.valid">
        Register
      </button>
      <a mat-raised-button class="full-width" color="accent" href="/login">Already have account? Sign in</a>
    </form>
  </mat-card>
</div>
