@import '../../styles.scss';
#register {
  display: flex;
}

.full-width {
  width: 100%;
}

@media only screen and (orientation: landscape) {}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  #register {
    width: 70vw;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1023px) {
  #register {
    width: 30vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  #register {
    width: 27.5vw;
  }
}

@media only screen and (min-width: 1281px) {
  #register {
    width: 20vw;
  }
}
