/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

// Plus imports for other components in your app.

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-yellow, A700);
// $app-accent-light: mat-palette($mat-yellow, A100);
$app-accent-light: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-accent-light);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$accent-light: mat-color($app-accent-light);

// Include the default theme styles.
@include angular-material-theme($app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
